1

In [19]:
import pandas as pd

# Load the Titanic dataset as an example
titanic_df = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv') 

# Get the number of rows and columns
num_rows, num_cols = titanic_df.shape

# Print the results
print("Number of rows:", num_rows)
print("Number of columns:", num_cols)

Number of rows: 891
Number of columns: 15

2.2


Observation is the characteristics of one object to be recorded,
whereas variable is the characteristic of objects the be recorded.

variables are recorded attributes for all the objects, 
while observations are objects recorded by attributes.

3

In [2]:
# 1. Numerical Summary
print("Summary Statistics for Numerical Variables:")
print(titanic_df.describe())

Summary Statistics for Numerical Variables:
         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [7]:
# 2. Categorical Summary
print("\nValue Counts for Categorical Variables:")
for col in titanic_df.columns:
    if titanic_df[col].dtype == 'object': # Check if the column is of type 'object', a common indicator of categorical data [1]
        print(titanic_df[col].value_counts())

Value Counts for Categorical Variables:
sex
male      577
female    314
Name: count, dtype: int64
embarked
S    644
C    168
Q     77
Name: count, dtype: int64
class
Third     491
First     216
Second    184
Name: count, dtype: int64
who
man      537
woman    271
child     83
Name: count, dtype: int64
deck
C    59
B    47
D    33
E    32
A    15
F    13
G     4
Name: count, dtype: int64
embark_town
Southampton    644
Cherbourg      168
Queenstown      77
Name: count, dtype: int64
alive
no     549
yes    342
Name: count, dtype: int64

4


df.shape tells how big your dataset is (rows x columns), which is number of rows and columns including observations with missing numerical variables.


df.describe() gives a statistical snapshot of the numerical data within those dimensions, which means missing numerical variables are not counted.


PS. The chatbot give the definition when I ask the difference between the attribute and method above, before I ask it to do so.


6


for each word for each attribute,


count: The number of non-null(not missing) values


mean: average value. x_bar = Σx/n for ungrouped data, x_bar = Σxf/Σf for grouped data


std: standard deviation(σ), square root of variance. Var = Σx²/n - x_bar* x_bar for ungrouped data, other formula for Var is omitted.


Min, Max: minimum and maximum value respectively


25%, 50%, 75%: percentile for each percentage. Sort values from low to high, the number at position of x% of frequency is xth percentile.


PS: these are key points in Alevel mathematics, I've struggled in these terms for a long time, this reminds me to that time.


7.1


For the case when there is a lot of observations, only one observation has missing data, df.dropna() can adjust the parameters to change the threshold to avoid deleting too much useful data but only one row is deleted.


7.2
For the case there is a variable which is almost missing all the data or not relavent to my analysis, then the variable is almost unable to represent correct fact since number of samplings is too small, the result prabably is biased. The del operation can be used to delete the whole variable since it is not meaningful.


7.3
If we reverse the order, df.dropna() will first works to delete all the rows with empty values and then del does nothing. Also too much useful data is deleted, this is a waste of data. If we del 10% or more empty variables first, then less row will be deleted so that less useful information is deleted.


7.4
Firstly, use df.shape to find the size of data set, the use df.count() to count all the non-empty data for each variable. If one of the variable's value is empty, then this column may be deleted using del. AFTER del, df.dropna() can be applied to delete rows containing empty values.

In [47]:
import pandas as pd

# Load the Titanic dataset as an example
titanic_df = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv')

# Get the number of rows and columns
num_rows, num_cols = titanic_df.shape

# Print the results
print("Number of rows:", num_rows)
print("Number of columns:", num_cols)
print("Before:")
print(titanic_df.describe())
counts_series = titanic_df.count()
print(counts_series)
for key,val in counts_series.items():
    if val != num_rows:
        del titanic_df[key]
titanic_df.dropna(inplace=True)
print("After:")
print(titanic_df.describe())

Number of rows: 891
Number of columns: 15
Before:
         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200
survived       891
pclass         891
sex            891
age            714
sibsp          891
parch          891
fare           891
embarked       889
class          891
who            891
adult_male     891
deck           203
embark_town    889
alive          891
alone          891
dtype: int64
After:
         survived      pclass       sibsp       parch        fare
count  891.000000  891.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642    0.523008    0.381594   32.204208
std      0.486592    0.836071    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.000000    0.000000    0.000000
25%      0.000000    2.000000    0.000000    0.000000    7.910400
50%      0.000000    3.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000    8.000000    6.000000  512.329200

8.1

In [52]:
titanic_df.groupby('survived')["pclass"].describe()

NameError: name 'survived' is not defined

This tells me pclass distribution between survivors and victim

8.2


it is similar to GROUP by and COUNT() in SQL, the one without groupby counts number of col2(pclass) and col1(survived) seperately, but the other one counts the number of col2(pclass) in every groups of col1(survived), if there is same data of col1

8.3


A (b) Google, because the response for AI takes time, but the first webpage from google is my wanted answer(thanks for stackoverflow), the comments in stackoverflow is really useful whereas response of AI is somehow redundant.


B (a) Chatbot, because the first check reminded is typo check whereas first three webpage from google does not remind typo (However this should be IDE's job, you don't even need to access the Internet)


C (b) Google, because the second webpage preview context is the answer. Rest reason is same as A. ChatBot did not gives the correct answer at first but second too.


D (a) Chatbot, reasons same as B.(and same suggestion for IDE)


E (b) Google, Even before I start looking the webpage, google automatically identify the typo and show that "Showing results for AttributeError: 'SeriesGroupBy' object has no attribute 'describe'"(IDE!)


F (a) Chatbot, reason same as B


G (a) Chatbot, Although the first webpage from google reminds parenthesis but it did not give a clear way to solve it, but chatbot tells me the clear way to solve this error. Also, both Chatbot and google did not realize NameError is because of absence of '.

9
Somewhat. Actually I do not think chatbot is really helpful for this course unless we can use chatbot in exam. For those who use Python machine learning libs for years in high school clubs, chatbot is unnesseary. For those who just get used to Python, use of chatbot may result lack of own understanding of coding but more on fixed template of code because they don't even know how to print hello world. I think read the materials by oneself is important, use of chatbot should be optional and used freely by student instead of excess guidelines(some simple tutorial is nice).


Chatbot session link


https://notebooklm.google.com/notebook/42e792e5-712a-47c1-8f94-4d75e99f9915?_gl=1*5g5vrq*_up*MQ..*_ga*MTUwMDk5NzQ1Mi4xNzI1NzUxMDIw*_ga_W0LDH41ZCB*MTcyNTc1MTAyMC4xLjAuMTcyNTc1MTAyMC4wLjAuMA..&original_referer=https:%2F%2Fnotebooklm.google%23&original_referer=https:%2F%2Fmyaccount.google.com%23&hl=en&pli=1